
<mat-card class="example-card">
	<mat-card-header>
	  <div mat-card-avatar class="example-header-image"></div>
	  <mat-card-title>Task Manager</mat-card-title>
	  <mat-card-subtitle>Synopsis</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="../../assets/taskmanager.jpg" alt="Photo of a Shiba Inu">
	<mat-card-content>
		<div class="todos">
			<form (submit)="addTodo()">
				<input 
					type="text"
					name="inputTodo"
					placeholder="Enter todo..."
					class="todo-input"
					[(ngModel)]="inputTodo"
				/>
				<input type="submit" value="Add Todo" class="todo-submit" />
			</form>
			<div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
				<div class="id">{{ i }}</div>
				<div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
				<button class="delete" (click)="deleteTodo(i)">Remove</button>
			</div>
		</div>
	 
	</mat-card-content>
	
  </mat-card>




